%ul.tabs
  %li#tab-ranking
    = menu_tab('Ranking List', ranking_players_path)
  %li#tab-possibility-matrix
    = menu_tab('Point potentials', point_potential_players_path)
  %li#tab-history-graph
    = menu_tab('Rating History Graph', rating_history_players_path)

