.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{:href => "/"} PingPongFührer
      %ul.nav
        %li
          %a{:href => "/rankings"} Rankings
        %li
          %a{:href => "/game/new"} Enter Game
        %li
          %a{:href => "/player/new"} Add Player
