- @player ||= Player.new
= form_for @player, :html => {:class => 'default-form'} do |player|
  = player.hidden_field :id
  %h1 Enter your details here

  .input
    %label Name:
    = player.text_field :name, :placeholder => 'John Smith', :class => 'string'

  .buttons
    = player.submit :class => 'btn'
