- cache ['ranking table', players] do
  .header
    .player
      %span Player
    .history
      %span &nbsp;
    .games-played
      %span GP
    .score
      %span Score
    .streak
      %span Streak

  - ranker = create_ranker
  - players.each do |player|
    - rank = ranker.call(player.rating)
    .rank{:class => "rank-#{rank}", 'data-rank' => rank}
      = render player
