- players = Player.order('rating desc, name asc').select { |player| should_show? player }
// Rankings
#rankings.content.nav-view
  = render 'shared/menu'

  // Ranking view
  #ranking-view.content.tab-view
    // Ranking list
    #ranking-list.content.medium
      %h1 Player Rankings
      = render 'ranking', players: players

    // Recent games
    #recent-games.content.medium
      = render 'recent_games'

// New game
#new-game.content.hide
  = render 'games/form'

- buffer_script "PingPong.initRankings();"
