- content_for :title, 'Player Rankings'
- players = Player.order('rating desc, name asc')
.row
  .span6
    .row
      .span6
        = render :partial => 'ranking', :locals => { :players => players }
    .row
      .span6
        %h3 Point Potential Matrix
        = render :partial => 'possibility_matrix', :locals => { :players => players }
    .row
      .span6
        %h3 Rating History
        = render :partial => 'rating_history', :locals => { :players => players }

  .span5.pull-right
    %h3 Recent Games
    = render 'recent_games'
