!!!
%html
  %head
    %title PingPongFührer
    %link{:rel => 'shortcut icon', :href => '/favicon.ico', :type => 'image/x-icon'}
    %link{:href => "http://twitter.github.com/bootstrap/assets/css/bootstrap.css", :rel => "stylesheet"}
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "/"} PingPongFührer
          %ul.nav
            %li
              %a{:href => "/"} Home
    .container
      .hero-unit
        %iframe{:height => 185, :width => 280, :frameborder => "0", :src => "http://www.youtube.com/embed/bqOZW6ckL0A", :class => "pull-right"}
        %h1 PingPongFührer
        %p Register an account for PingPongFührer and become the 'Führer'. 
        %p
          = link_to 'Register for PingPongFührer', '', :class => 'btn btn-large btn-primary'
      %hr
      %p Copyright Springest